$color: #f9fafb;
$lighterColor: #a0a0a0;
$mainColor: #a2facf;
$background: #010720;

//Modules
@use "./me/me";

//abffc7
//background: #010720;
.header {
    height: 22vh;
    width: 100%;

    color: $color;
    background: $background;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 4rem;
        margin-bottom: .2rem;

        img {
            height: 4rem;
            margin-right: -1rem;
        }
    }
    
    h3 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-top: .2rem;

        color: $lighterColor;

        a, a:visited {
            color: $lighterColor;
            text-decoration: none;
        }

        a:hover, a:visited:hover {
            text-decoration: underline;
        }
    }

    svg {
        position: absolute;
        top: 18vh;

        z-index: -1;
    }
}

.music-icon {
    position: absolute;

    hr {
        height: 1.3rem;
        width: .3rem;

        position: absolute;

        background: $mainColor;

        border: none;
        border-radius: 4px;
    }

    .music-icon--first {
        top: -3.6rem; //-7.4vh
        right: -4.45rem; //-4.9vw
    }

    .music-icon--second {
        top: -4.367rem; //-9.1vh
        right: -5.08rem; //-5.5vw

        height: 1.45rem;
        width: .5rem;

        transform: rotate(70deg);
    }

    .music-icon--third {
        top: -3.998rem; //-8.31vh
        right: -5.55rem; //-6.1vw
    }
}

.follow {
    position: absolute;
    top: 5vh;
    right: 3vw;

    height: 6vh;
    width: fit-content;
    min-width: 7vw;
    padding-left: 1rem;
    padding-right: 1rem;

    color: $color;
    text-decoration: none;
    background: $background;
    border-radius: 8px;

    transition: .4s;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    i {
        font-size: 1.3rem;
        margin-left: .5vw;
    }
}

.follow:hover {
    color: $background;
    background: $color;

    top: 4.2vh;
    right: 3.8vw;

    h4, i {
        z-index: 3;
        margin-right: .2rem;
        margin-top: .4rem;
    }
}

.follow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;

    height: 6vh;
    width: fit-content;
    min-width: 136.8px;
    border-radius: 8px;   

    padding-left: 1rem;
    padding-right: 1rem;

    transition: .4s;
}

    .follow:hover::after {
        background: $mainColor;
        top: .7vh;
        right: .4vw;

        transition: .4s;
    }


//Responsiveness
@media screen and (max-width: 650px) {
    .follow {
        display: none;
    }
}