//Variables
$background: #f9fafb;
$light: #e7e7e7;
$color: #a2facf;
$dark: #010720;
$gray: #24292f;

//Mixins
@mixin afterEffect_defaultStyles($hw) {    
    position: absolute;

    height: $hw;
    width: $hw;
    
    background: $color;
    border-radius: 12px;

    transform: translate(-.5rem, .5rem);
}


//Actual Styles

.button--group {
    //border: solid orange;
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    .button--hover {
        height: 9.75rem;
        width: 9.75rem;

        position: absolute;

        background: $dark;
        border-radius: 15px;
        
        pointer-events: none;
        user-select: none;
        z-index: -1;

        transition: .4s;
    }

    .button--container {
        height: 9.75rem;
        width: 9.75rem;
    
        color: $gray;
        background: $light;
        border-radius: 12px;
    
        cursor: pointer;
        pointer-events: all;
    
        transition: .4s;
    
        .button--name {
            height: 22%;

            display: grid;
            align-content: end;

            h3 {
                font-weight: 400;
                margin-left: 1rem;
            }
        }
    
        .button--icon {
            height: 76%;

            display: grid;
            place-items: center;

            i {
                font-size: 3rem;
                transition: .4s;
            }
        }
    }

    //Extra Classes
        //Hover
        .button--container:hover {
            background: $color;
            color: $dark;
        
            transform: translate(.5rem, -.5rem);
        }
        
        //Active
        .button--container:active {
            transform: translate(0rem, 0rem);
        }

        //Onscroll
        .button--container--after {
            height: 11.75rem;
            width: 11.75rem;

            .button--icon {
                i {
                    font-size: 4rem;
                }
            }
        }
}

@media screen and (max-width: 650px) {
    .button--group {
        .button--hover {
            
            height: 9.75rem;
            width: 9.75rem;

            position: absolute;
            left: 50%;
            transform: translate(-50%);

            background: $dark;
            border-radius: 15px;
            
            pointer-events: none;
            user-select: none;
            z-index: -1;
        }

        .button--container--after {
            height: 11.75rem;
            width: 11.75rem;
        }
    }
}