//Variables
$background: #f9fafb;
$light: #e7e7e7;
$color: #a2facf;
$dark: #010720;
$gray: #24292f;

//Mixins
@mixin afterEffect_defaultStyles($hw) {    
    position: absolute;

    height: $hw;
    width: $hw;
    
    background: $color;
    border-radius: 12px;

    transform: translate(-.5rem, .5rem);
}


//Actual Styles
.button--group {
    //border: solid orange;
    height: 100%;
    width: 100%;

    display: grid;
    place-items: center;

    .button--hover {
        height: 9.75rem;
        width: 9.75rem;

        position: absolute;

        background: $dark;
        border-radius: 15px;
        
        pointer-events: none;
        user-select: none;
        z-index: -2;

        transition: .4s;
    }

    .button--volume {
        transform: rotate(270deg) translateY(0%);

        background: $background;
        box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
        padding: 15px;
        border-radius: 12px;
    
        position: absolute;
        z-index: 0;

        transition: ease-in .4s;

        input {
            border: solid navy;
            z-index: 0;
        }
    }

    .button--volume--show {
        transform: rotate(270deg) translateY(220%);
    }

    .button--volume--before {
        transform: scale(.1) rotate(270deg);

        background: $background;
        box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
        padding: 10px;
        border-radius: 12px;
    
        position: absolute;
        z-index: 0;

        transition: ease-in .4s;

        input {
            transform: scale(.8);
        }
    }

    .button--volume--before--show {
        transform: rotate(270deg) translateY(270%);
    }


    .button--container {
        height: 9.75rem;
        width: 9.75rem;
    
        color: $gray;
        background: $light;
        border-radius: 12px;
    
        cursor: pointer;
        pointer-events: all;
    
        transition: .4s;

        z-index: 1;
    
        .button--name {
            height: 22%;

            display: grid;
            align-content: end;

            h3 {
                font-weight: 400;
                margin-left: 1rem;
            }
        }
    
        .button--icon {
            height: 76%;

            display: grid;
            place-items: center;

            i {
                font-size: 3rem;
                transition: .4s;
            }
        }
    }

    //Extra Classes
        //Hover
        .button--container:hover, .button--container--clicked {
            background: $color;
            color: $dark;
        
            transform: translate(.5rem, -.5rem);
        }
        
        //Active
        .button--container:active {
            transform: translate(0rem, 0rem);
        }

        //Onscroll
        .button--container--after {
            height: 11.75rem;
            width: 11.75rem;

            .button--icon {
                i {
                    font-size: 4rem;
                }
            }
        }


        //If the sounds are playing
        .button--container--clicked {
            i {
                animation: 3s icon infinite;
            }
        }

        @keyframes icon {
            0% {
                transform: rotate(10deg);
            }
            15% {
                transform: rotate(-8deg);
            }
            30%, 100% {
                transform: rotate(0deg);
            }
            /*20% {
                transform: rotate(8deg);
            }
            30% {
                transform: rotate(0deg);
            }
            40% {
                transform: rotate(-8deg);
            }*/
        }
}

//Responsiveness
@media screen and (max-width: 650px) {
    .button--group {
        .button--hover {
            
            height: 9.75rem;
            width: 9.75rem;

            position: absolute;
            left: 50%;
            transform: translate(-50%);

            background: $dark;
            border-radius: 15px;
            
            pointer-events: none;
            user-select: none;
            z-index: -1;
        }

        .button--volume {
            position: absolute;
            left: 50%;
            transform:  translateY(100%) translateX(-50%) rotate(270deg);
        }

        .button--volume--show {
            transform: translateY(95%) translateX(20%) rotate(270deg);
        }

        .button--container--after {
            height: 11.75rem;
            width: 11.75rem;
        }
    }
}


//Toast
.lighterShadow {
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
    box-shadow: rgba(17, 12, 46, 0.041) 0 48px 100px 0;
}