//Modules
@use "./button/button";

//Variables
$background: #f9fafb;
$light: #e7e7e7;
$color: #a2facf;
$dark: #010720;

.sounds--body {
    position: absolute;

    bottom: -80vh;
    height: 157vh;
    width: 60%;

    border-radius: 1.5rem 1.5rem 0 0;

    background: $background;
    box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;

    transition: .4s;

    z-index: 0;

    .sounds--search {
        border: solid orange;
        height: 10%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        .filters {
            border: solid plum;
            height: 100%;
            width: 60%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            button {
                height: 50%;
                width: 30%;

                pointer-events: all;
                cursor: pointer;

                background: $light;
                border-radius: 50px;
                border: none;

                transition: ease .4s;
            }

            button:hover {
                background: $dark;
                color: $background;

                transform: translate(.5rem, -.5rem);
            }

            button:active {
                background: $color;
                color: $dark;

                transform: translate(.2rem, -.2rem);
            }

            /*button::after {
                content: "";

                height: inherit;
                width: inherit;

                position: absolute;
                background: $color;
            }
            
            button:hover::after {
                transform: translate(-.5rem, .5rem);
            }*/
        }

        .random {
            width: 20%;
            border: solid blueviolet;

            display: grid;
            place-items: center;

            button {
                height: 4.5rem;
                width: 4.5rem;

                background: $light;
                border: none;
                border-radius: 50px;

                pointer-events: all;
                cursor: pointer;

                transition: .4s;

                i {
                    font-size: 1rem;
                }
            }

            button:hover {
                background: $dark;
                color: $background;

                transform: translate(.5rem, -.5rem);
            }

            button:active {
                background: $color;
                color: $dark;

                transform: translate(.2rem, -.2rem);
            }
        }
    }

    .sounds--container {
        border: solid lime;
        height: 87%;

        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .sounds--row {
            border: solid red;
    
            display: grid;
            grid-template-rows: repeat(4, 1fr);
    
            .sounds--icon--container {
                border: solid navy;

                display: grid;
                place-items: center;
            }
        }

        @media screen and (max-width: 500px) {     
            .sounds--container {
                grid-template-columns: 1fr;
                align-content: center;
            }
        }
    }
}

    .juju {
        width: 85%;

        .button-container {
            width: 15rem;
        }
    }