.mainBody {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight {
  color: #a2facf;
}

.pfp--container {
  z-index: 1;
}
.pfp--container .pfp {
  position: absolute;
  top: 3vh;
  left: 3vw;
  height: 8vh;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.pfp--container:hover .pfp {
  top: 2.55vh;
  left: 2.7vw;
  height: 9vh;
}

.pfp--container:hover::after {
  background: #BEF1C8;
  height: 10vh;
  width: 10vh;
  top: 2.05vh;
  left: 2.45vw;
  z-index: -1;
}

.pfp--container::before {
  content: "";
  position: absolute;
  top: 2.3vh;
  left: 2.6vw;
  height: 9.5vh;
  width: 9.5vh;
  border-radius: 50px;
  background: #010720;
  z-index: 0;
}

.pfp--container::after {
  content: "";
  position: absolute;
  top: 3vh;
  left: 3vw;
  height: 0vh;
  width: 0vh;
  border-radius: 50px;
  background: #ff7f50;
  z-index: -1;
  transition: 0.3s;
}

.header {
  height: 22vh;
  width: 100%;
  color: #f9fafb;
  background: #010720;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header h1 {
  font-size: 4rem;
  margin-bottom: 0.2rem;
}
.header h1 img {
  height: 4rem;
  margin-right: -1rem;
}
.header h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0.2rem;
  color: #a0a0a0;
}
.header h3 a, .header h3 a:visited {
  color: #a0a0a0;
  text-decoration: none;
}
.header h3 a:hover, .header h3 a:visited:hover {
  text-decoration: underline;
}
.header svg {
  position: absolute;
  top: 18vh;
  z-index: -1;
}

.music-icon {
  position: absolute;
}
.music-icon hr {
  height: 1.3rem;
  width: 0.3rem;
  position: absolute;
  background: #a2facf;
  border: none;
  border-radius: 4px;
}
.music-icon .music-icon--first {
  top: -3.6rem;
  right: -4.45rem;
}
.music-icon .music-icon--second {
  top: -4.367rem;
  right: -5.08rem;
  height: 1.45rem;
  width: 0.5rem;
  transform: rotate(70deg);
}
.music-icon .music-icon--third {
  top: -3.998rem;
  right: -5.55rem;
}

.follow {
  position: absolute;
  top: 5vh;
  right: 3vw;
  height: 6vh;
  width: fit-content;
  min-width: 7vw;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #f9fafb;
  text-decoration: none;
  background: #010720;
  border-radius: 8px;
  transition: 0.4s;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.follow i {
  font-size: 1.3rem;
  margin-left: 0.5vw;
}

.follow:hover {
  color: #010720;
  background: #f9fafb;
  top: 4.2vh;
  right: 3.8vw;
}
.follow:hover h4, .follow:hover i {
  z-index: 3;
  margin-right: 0.2rem;
  margin-top: 0.4rem;
}

.follow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 6vh;
  width: fit-content;
  min-width: 136.8px;
  border-radius: 8px;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 0.4s;
}

.follow:hover::after {
  background: #a2facf;
  top: 0.7vh;
  right: 0.4vw;
  transition: 0.4s;
}

@media screen and (max-width: 650px) {
  .follow {
    display: none;
  }
}
.button--group {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.button--group .button--hover {
  height: 9.75rem;
  width: 9.75rem;
  position: absolute;
  background: #010720;
  border-radius: 15px;
  pointer-events: none;
  user-select: none;
  z-index: -2;
  transition: 0.4s;
}
.button--group .button--volume {
  transform: rotate(270deg) translateY(0%);
  background: #f9fafb;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  padding: 15px;
  border-radius: 12px;
  position: absolute;
  z-index: 0;
  transition: ease-in 0.4s;
}
.button--group .button--volume input {
  border: solid navy;
  z-index: 0;
}
.button--group .button--volume--show {
  transform: rotate(270deg) translateY(220%);
}
.button--group .button--volume--before {
  transform: scale(0.1) rotate(270deg);
  background: #f9fafb;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  padding: 10px;
  border-radius: 12px;
  position: absolute;
  z-index: 0;
  transition: ease-in 0.4s;
}
.button--group .button--volume--before input {
  transform: scale(0.8);
}
.button--group .button--volume--before--show {
  transform: rotate(270deg) translateY(270%);
}
.button--group .button--container {
  height: 9.75rem;
  width: 9.75rem;
  color: #24292f;
  background: #e7e7e7;
  border-radius: 12px;
  cursor: pointer;
  pointer-events: all;
  transition: 0.4s;
  z-index: 1;
}
.button--group .button--container .button--name {
  height: 22%;
  display: grid;
  align-content: end;
}
.button--group .button--container .button--name h3 {
  font-weight: 400;
  margin-left: 1rem;
}
.button--group .button--container .button--icon {
  height: 76%;
  display: grid;
  place-items: center;
}
.button--group .button--container .button--icon i {
  font-size: 3rem;
  transition: 0.4s;
}
.button--group .button--container:hover, .button--group .button--container--clicked {
  background: #a2facf;
  color: #010720;
  transform: translate(0.5rem, -0.5rem);
}
.button--group .button--container:active {
  transform: translate(0rem, 0rem);
}
.button--group .button--container--after {
  height: 11.75rem;
  width: 11.75rem;
}
.button--group .button--container--after .button--icon i {
  font-size: 4rem;
}
.button--group .button--container--clicked i {
  animation: 3s icon infinite;
}
@keyframes icon {
  0% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-8deg);
  }
  30%, 100% {
    transform: rotate(0deg);
  }
  /*20% {
      transform: rotate(8deg);
  }
  30% {
      transform: rotate(0deg);
  }
  40% {
      transform: rotate(-8deg);
  }*/
}

@media screen and (max-width: 650px) {
  .button--group .button--hover {
    height: 9.75rem;
    width: 9.75rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background: #010720;
    border-radius: 15px;
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }
  .button--group .button--volume {
    position: absolute;
    left: 50%;
    transform: translateY(100%) translateX(-50%) rotate(270deg);
  }
  .button--group .button--volume--show {
    transform: translateY(95%) translateX(20%) rotate(270deg);
  }
  .button--group .button--container--after {
    height: 11.75rem;
    width: 11.75rem;
  }
}
.lighterShadow {
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  box-shadow: rgba(17, 12, 46, 0.041) 0 48px 100px 0;
}

.sounds--body {
  position: relative;
  height: 150vh;
  width: 60%;
  border-radius: 1.5rem 1.5rem 0 0;
  background: #f9fafb;
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  transition: 0.4s;
  z-index: 0;
}
.sounds--body .sounds--search {
  height: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.sounds--body .sounds--search .filters {
  width: 60%;
  margin-left: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /*.filters--one, .filters--two, .filters--three {
      border: solid red;
  }*/
  /*button::after {
      content: "";

      height: inherit;
      width: inherit;

      position: absolute;
      background: $color;
  }

  button:hover::after {
      transform: translate(-.5rem, .5rem);
  }*/
}
.sounds--body .sounds--search .filters button {
  height: 50%;
  width: 30%;
  pointer-events: all;
  cursor: pointer;
  background: #e7e7e7;
  border-radius: 50px;
  border: none;
  transition: ease 0.4s;
}
.sounds--body .sounds--search .filters button span {
  font-size: 0.9rem;
}
.sounds--body .sounds--search .filters button:hover {
  background: #010720;
  color: #f9fafb;
  transform: translate(0.5rem, -0.5em);
}
.sounds--body .sounds--search .filters button:active {
  background: #a2facf;
  color: #010720;
  transform: translate(0.2rem, -0.2rem);
}
.sounds--body .sounds--search .filters .filters--one span::before {
  content: "Relax ";
}
.sounds--body .sounds--search .filters .filters--two span::before {
  content: "Productivity ";
}
.sounds--body .sounds--search .filters .filters--three span::before {
  content: "Greatness ";
}
.sounds--body .sounds--search .random {
  width: 20%;
  display: grid;
  place-items: center;
}
.sounds--body .sounds--search .random button {
  height: 4.5rem;
  width: 4.5rem;
  background: #e7e7e7;
  border: none;
  border-radius: 50px;
  pointer-events: all;
  cursor: pointer;
  transition: 0.4s;
}
.sounds--body .sounds--search .random button i {
  font-size: 1rem;
}
.sounds--body .sounds--search .random button:hover {
  background: #010720;
  color: #f9fafb;
  transform: translate(0.5rem, -0.5rem);
}
.sounds--body .sounds--search .random button:active {
  background: #a2facf;
  color: #010720;
  transform: translate(0.2rem, -0.2rem);
}
.sounds--body .sounds--container {
  height: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.sounds--body .sounds--container .sounds--row {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.sounds--body .sounds--container .sounds--row .sounds--icon--container {
  display: grid;
  place-items: center;
}

.juju {
  width: 85%;
}

@media screen and (max-width: 1180px) {
  .sounds--body {
    width: 80%;
  }

  .juju {
    width: 90%;
  }
}
@media screen and (max-width: 925px) {
  .sounds--body {
    height: fit-content;
  }
  .sounds--body .sounds--search {
    margin-top: 1.5rem;
  }
  .sounds--body .sounds--search .filters button {
    height: 80%;
    width: 30%;
  }
  .sounds--body .sounds--search .filters .filters--one span, .sounds--body .sounds--search .filters .filters--two span, .sounds--body .sounds--search .filters .filters--three span {
    font-size: 1.5rem;
  }
  .sounds--body .sounds--search .filters .filters--one span::before, .sounds--body .sounds--search .filters .filters--two span::before, .sounds--body .sounds--search .filters .filters--three span::before {
    content: "";
  }
  .sounds--body .sounds--container {
    padding-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .sounds--body .sounds--container .sounds--row .sounds--icon--container {
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 800px) {
  .sounds--body {
    width: 90%;
  }

  .juju {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .juju {
    width: 100%;
  }

  .sounds--body {
    height: fit-content;
    min-height: 300vh;
    width: 100%;
  }
  .sounds--body .sounds--search {
    height: 20%;
  }
  .sounds--body .sounds--container {
    height: 70%;
    grid-template-columns: 1fr;
    align-content: bottom;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: fit-content;
  width: 100%;
  overflow-x: hidden;
}

/*# sourceMappingURL=general.css.map */
